name: Build and push to docker hub

on:
  workflow_call:
    inputs:
      build-the-app:
        required: true
        type: boolean
        default: false
      node-version:
        required: false
        type: number
        default: 18
      subpath:
        required: false
        type: string
        default: "/"
      install-dependencies-command:
        required: false
        type: string
        default: npm ci
      build-command:
        required: false
        type: string
        default: npm run build
      docker-image-name:
        required: true
        type: string

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v3

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: ${{ inputs.node-version }}

      - name: Add homepage field to package.json
        run: |
          node -e "let pkg = require('./package.json'); pkg.homepage='${{ inputs.subpath }}'; require('fs').writeFileSync('package.json', JSON.stringify(pkg, null, 2));"
          cat package.json
      - name: Install dependencies
        run: |
          ${{ inputs.install-dependencies-command }}
      - name: Build the app
        run: |
          ${{ inputs.build-command }}

      # - name: Run tests
      #   run: npm run test

      - name: Log in to Docker Hub
        run: |
          echo "${{ secrets.DOCKERHUB_TOKEN }}" | docker login --username ${{ secrets.DOCKERHUB_USERNAME }} --password-stdin

      - name: Build and push Docker image
        uses: docker/build-push-action@v3
        with:
          context: .
          push: true
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/${{ inputs.docker-image-name }}:${{ github.run_number }}
