
name: Build and push to Docker Hub

on:
  workflow_call:
    inputs:
      build-the-app:
        required: true
        type: boolean
        default: false
      docker-image-name:
        required: true
        type: string
      static-docker-image-tag:
        required: false
        type: string
    secrets:
      docker-username:
        required: true
      docker-password:
        required: true

jobs:
  build-and-push:
    if: ${{ inputs.build-the-app }}
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.docker-username }}
          password: ${{ secrets.docker-password }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v3
        with:
          context: .
          file: ./Dockerfile-fe
          push: true
          tags: ${{ secrets.docker-username }}/${{ inputs.docker-image-name }}:${{ inputs.static-docker-image-tag }}
