name: Deploy Helm chart to AKS

on:
  workflow_call:
    inputs:
      deploy-to-k8s:
        required: true
        type: boolean
        default: false
      helm-chart-name:
        required: true
        type: string
      helm-deployment-name:
        required: true
        type: string
      additional-helm-commands:
        required: false
        type: string

    secrets:
      azure-credentials:
        required: true
      aks-cluster-name:
        required: true
      resource-group:
        required: true
      DB_HOSTNAME:
        required: false
      DB_USER:
        required: false
      DB_PASSWORD:
        required: false
      DB_NAME:
        required: false

jobs:
  deploy-to-k8s:
    if: ${{ inputs.deploy-to-k8s }}
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v4

      - name: Login to Azure
        uses: azure/login@v1
        with:
          creds: ${{ secrets.azure-credentials }}

      - name: Set AKS Context
        uses: azure/aks-set-context@v3
        with:
          cluster-name: ${{ secrets.aks-cluster-name }}
          resource-group: ${{ secrets.resource-group }}

      - name: Install Helm
        uses: azure/setup-helm@v3
        with:
          version: '3.16.4'

      - name: Delete the helm chart
        continue-on-error: true
        run: |
          helm uninstall ${{ inputs.helm-deployment-name }}

      - name: Install the helm chart
        run: |
          sleep 5
          helm install \
            ${{ inputs.helm-deployment-name }} \
            ${{ inputs.helm-chart-name }} \
            ${{ inputs.additional-helm-commands }} \
            --set server.dbHostname="${{ secrets.DB_HOSTNAME }}" \
            --set server.dbUser="${{ secrets.DB_USER }}" \
            --set server.dbUserPassword="${{ secrets.DB_PASSWORD }}" \
            --set server.dbName="${{ secrets.DB_NAME }}"
